[pycolocstats]
catch_method_exceptions = true
verbose_running = false
tmp_dir = /tmp
default_job_output_dir = /tmp
pull_docker_images = true
use_test_docker_images = false
ref_coll_gsuites_path =
enable_methods_parallelisation = false
max_parallel_methods = 8
enable_jobs_parallelisation = true
max_parallel_jobs = 8
